<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArtworxDAC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArtworxDAC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ArtworxDAC.My.MySettings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="E:\Semester 2\DD_Data Driven Apps\Assessment\artworx.mdf";Integrated Security=True;Connect Timeout=30</value>
            </setting>
        </ArtworxDAC.My.MySettings>
    </userSettings>
    <applicationSettings>
        <ArtworxDAC.My.MySettings>
            <setting name="SP_CategorySave" serializeAs="String">
                <value>usp_CategorySave</value>
            </setting>
            <setting name="SP_ItemSave" serializeAs="String">
                <value>usp_ItemSave</value>
            </setting>
            <setting name="SP_CustomerSave" serializeAs="String">
                <value>usp_CustomerSave</value>
            </setting>
            <setting name="SP_BidSave" serializeAs="String">
                <value>usp_BidSave</value>
            </setting>
            <setting name="SP_CategoryGetByID" serializeAs="String">
                <value>usp_CategoryGetByID</value>
            </setting>
            <setting name="SP_ItemGetByID" serializeAs="String">
                <value>usp_ItemGetByID</value>
            </setting>
            <setting name="SP_CustomerGetByID" serializeAs="String">
                <value>usp_CustomerGetByID</value>
            </setting>
            <setting name="SP_BidGetById" serializeAs="String">
                <value>usp_BidGetByID</value>
            </setting>
            <setting name="SP_CategoryList" serializeAs="String">
                <value>usp_CategoryList</value>
            </setting>
            <setting name="SP_ItemList" serializeAs="String">
                <value>usp_ItemList</value>
            </setting>
            <setting name="SP_CustomerList" serializeAs="String">
                <value>usp_CustomerList</value>
            </setting>
            <setting name="SP_BidList" serializeAs="String">
                <value>usp_BidList</value>
            </setting>
            <setting name="SP_CategoryNames" serializeAs="String">
                <value>usp_CategoryNames</value>
            </setting>
            <setting name="SP_ItemNames" serializeAs="String">
                <value>usp_ItemNames</value>
            </setting>
            <setting name="SP_CustomerNames" serializeAs="String">
                <value>usp_CustomerNames</value>
            </setting>
            <setting name="SP_BidGetWinnerForItem" serializeAs="String">
                <value>usp_BidGetWinnerForItem</value>
            </setting>
        </ArtworxDAC.My.MySettings>
    </applicationSettings>
</configuration>
